{% extends 'base.html' %}

{% block content %}

<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <h4>Login Form</h4>
        {{form}}

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-sign-in"></i>
            Login
        </button>

        <small class="row">
            <a href="#" class="col text-left">Forgot password?</a>
            <a href="{% url 'register' %}" class="col text-right">Create New Account</a>
        </small>

    </form>
</div>

{% endblock content %}