{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h4>Register</h4>
    <form action="" method="post">
        <section class="form-control">
            {% csrf_token %}
        {{form}}
        </section>
        <br>
        <section>
            <input type="checkbox" required> 
            <small>By clicking "Create account" you agree to our  
                <a href="#">Terms and Conditions</a>.</small>
        </section>
        
        <br>
        
        <input type="submit" class="form-control btn btn-primary" value="Create account" name="submit"
        />
    </form>
</div>

<script>
    $(".active").removeClass("active");
    $("#nav-create").addClass("active");

    $(".helptext").html("");

    var input_text = $("input[type=text]");
    input_text.addClass("form-control");

    var input_pass = $("input[type=password]");
    input_pass.addClass("form-control");

    $("form ul li").addClass("btn btn-danger");

    // var labels = $("label");

    // labels.addClass("col");
    // input_text.addClass("col")
    // input_pass.addClass("col");
</script>

{% endblock content %}